{% extends "importer/_layouts" %}

{% import "_includes/forms" as forms %}
{% set selectedTab = 'cron' %}
{% block blockContent %}
<div class="content">
    <label for="crontime">Select the time to set cron for importing content</label><br>
    <form method="post" action="setcron">
        {{csrfInput()}}
<input type="text" id="crontime" name="crontime" placeholder="hour:month/day/month/week" required/><br>
    <div class="buttons">
    <input type="submit" class="btn btn-success">

    </div>
    </form>
</div>
{% endblock %}
